<aside aria-label="new-blog" class="bg-slate-800 md:px-0 px-4">
  <%= form_with(model: @blog_post, url: '/create', method: 'post', class:"max-w-md mx-auto md:py-28 py-28") do |form| %>
    <div class="mb-5">
      <%= form.label :title, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :title, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", placeholder: "title", required: true %>
    </div>
    <div class="mb-5">
      <%= form.label :description, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :description, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", placeholder: "description", required: true %>
    </div>
    <div class="mb-5">
      <%= form.label :content, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.rich_text_area :content, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pb-20 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", required: true %>
    </div>
    <div class="mb-5">
      <%= form.label :display_image, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.file_field :image, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", required: true %>
    </div>
    <div class="mb-5">
      <%= form.label :category, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.select :category, options_for_select([['Article', 'Article'], ['Tutorial', 'Tutorial']]),{}, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", required: true %>
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
      </div>
      <label for="terms" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
    </div>
    <%= form.submit "Create new Blog", class: "text-white bg-blue-700 hover:bg-blue-800 p-2.5 rounded-lg text-sm shadow-lg", type: "submit" %>
  <% end %>
</aside>